<!-- External resources -->
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<!-- Styles -->
<style>
  body
  {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    margin-top: 200px;
    padding: 0px;
    font-size: 14px;
    color: #697496;
  }
  .error-header
  {
    display:block;
    font-size: 17px;
    font-weight: bold;
    color: #57607c;
    margin-bottom: 8px;
  }
  .error-detail
  {
    display: block;
  }
</style>

<!-- Error header -->
<div class="error-header" align="center">Error {{ code }}</div>

<!-- Error detail information -->
<div class="error-detail" align="center">{{ message }} Try again or contact with the administrator.</div>
